@model IEnumerable<Galeria.Models.Album>

@{
    ViewData["Title"] = "Albuns";
}

<h1>Albuns</h1>

<div class="listaDestinos">
    <div class="container">
        <p>
            <a class="waves-effect waves-light btn-small" asp-action="Create"> Novo Album</a>
        </p>

        <table class="table striped highlight hover responsive-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Destino)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Inicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fim)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destino)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Inicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fim)
                        </td>
                        <td>
                            <a class="btn-small blue darken-2" asp-action="Edit" asp-route-id="@item.AlbumId">Atualizar</a> |
                            <a class="btn-small orange darken-4" asp-action="Details" asp-route-id="@item.AlbumId">Fotos</a> |
                            <a class="btn-small text-white red darken-4 modal-trigger" data-target="modal1" onclick="Excluir(@item.AlbumId)"> Excluir </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@*Meu modal*@
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4> Confirmar Exclusão</h4>
        <p>Deseja continuar com a exclusão? </p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat btn-Confirmar">Sim</a>
        <a class="fechar waves-effect waves-red btn-flat"> Cancelar </a>
       
    </div>
</div>

<script>
    function Excluir(AlbumId) {
        $(".modal").modal();

        $(".btn-Confirmar").on('click', function () {
            $.ajax({
                url: '/Albuns/Delete',
                type: 'POST',
                data: { AlbumId: AlbumId },
                success: function (data) {
                    alert(data);
                    location.reload();
                    $(".modal").modal('close');
                }
            })
        })
    }


    $('.fechar').on('click', function () {
        $(".modal").modal('close');
    })

</script>